<div class="comment">
  <%= "Comments: " %>
  <% comments.each do |comment| %>
    <% if comment.user %>
      <strong>
        <h3>
          <%= "#{comment.text}" %>
        </h3>
        <%= link_to "(commented by: #{comment.user.email})", user_posts_path(comment.user) %>
      </strong>
    <% end %>
    <% if policy(comment).delete? %>
      <%= button_to "Delete comment", comment, method: :delete %>
    <% end %>
  <% end %>
</div>