<div class="like">
  &#10084; <%= like_count(post) %>
  <% if current_user_liked_a_post(post).nil? %>
    <%= button_to "Like", likes_path, params: { like: { post_id: post.id } }, method: :post %>
  <% else %>
    <%= button_to "Unlike", like_path(current_user_liked_a_post(post)), method: :delete %>
  <% end %>
</div>