<% unless current_user or @user %>
  <% if current_user.id == @user.id %>
    <h1><%= "Your posts" %></h1><br>
  <% else %>
    <h1><%= "#{@user.email} page" %></h1><br>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <%= render partial: "posts/post", object: post %>
<% end %>
