<% if current_user.id == @user.id %>
  <h1><%= "Your posts" %></h1><br>
<% else %>
  <h1><%= "#{@user.email} page" %></h1><br>
<% end %>

<% @posts.each do |post| %>
  <%= render post %><br>
<% end %>
